html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: 'Source Sans Variable', 'Source Sans Pro', 'Calibri', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 500;
    text-decoration: underline;
}

img {
    text-align: left;
    width: 25%;
    position: absolute;
    left: 0%;
    top: 0%;
}


/* Styles for Settings */

#settings {
    margin: 3em;
    display: flex;
    justify-content: space-evenly;
}

select {
    padding: .25em;
}

#toggle {
    color: white;
    background-color: #4D69A0;
    padding: .5em;
    border: 2px solid black;
    border-radius: 1em;
    font-size: 16px;
}

#survey-links {
    display: flex;
    justify-content: space-evenly;
}

#survey-links a {
    color: white;
    text-decoration: none;
    background-color: #4D69A0;
    padding: .5em;
    border: 2px solid black;
    border-radius: 1em;
    font-size: 16px;
}


/* Styles for Schedule Table */

table {
    color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
}

th, td {
    border: 1px solid #FFFFFF;
    padding: .75em;
}

tr:nth-child(odd) {
    background-color: #13284B;
}

tr:nth-child(even) {
    background-color: #FF552D;
}

td a {
    color: white;
    text-decoration: none;
}


/* Styles for Resources */

#resources-title {
    color: white;
    background-color: #4D69A0;
    font-family: cursive;
    font-weight: 500;
    text-decoration: underline;
    text-align: left;
    padding: .5em;
    margin: .5em;
    width: fit-content;
    border: 1px solid black;
    border-radius: 1em;
}

#resources-list {
    text-align: left;
}

#resources-list a {
    text-decoration: none;
}