html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
}


/* Header */

h1 {
    font-family: 'Source Sans Variable', 'Source Sans Pro', 'Calibri', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 40px !important;
}

img {
    text-align: left;
    width: 25%;
    position: absolute;
    left: 0%;
    top: 0%;
}

.info {
    text-align: left;
    width: fit-content;
    position: absolute;
    right: 1em;
    top: 0%;
    font-size: small;
}

.info a {
    color: #13284b;
    font-weight: bolder;
    padding-right: 1em;
}


/* Schedule Buttons */

#schedule-settings ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
    display: flex;
    justify-content: space-around;
}

#schedule-settings li {
    display: inline;
}

#schedule-settings a {
    color: #13284b;
    font-weight: bold;
}


/* Schedule Tables */

table {
    color: white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 2em;
}

th, td {
    border: 1px solid #FFFFFF;
    padding: .75em;
}

/* Column Header Cells */
th {
    color: white;
    font-weight: bold;
    background-color: #13284b;
}

/* Row Header Cells */
tr:nth-child(odd) td:nth-child(1) {
    background-color: #13284b;
}

/* Row Header Cells */
tr:nth-child(even) td:nth-child(1) {
    background-color: #FF552D;
}

/* Non-Header Cells */
tr:nth-child(odd) {
    color: black;
    background-color: hsl(218, 60%, 80%);
}

/* Non-Header Cells */
tr:nth-child(even) {
    color: black;
    background-color: hsl(11, 100%, 80%);
}

td a {
    color: white;
    text-decoration: none;
}


/* Resources Section */

#resources-container h3 {
    color: #14A2B8;
   /* background-color: #14A2B8;*/
    /*font-family: cursive;*/
    font-weight: 500;
    text-decoration: underline;
    text-align: left;
    padding: .5em;
    margin: .5em;
    width: fit-content;
}

#resources-container ul {
    text-align: left;
}

#resources-container a {
    text-decoration: none;
}