<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iSchool Tutoring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='ischool_logo.png') }}" alt="ischool_logo">

        <div class="info">
            <p><strong>Location:</strong> Room 4060 (614 E. Daniel St. Building, 4th Floor)</p>
            <p><strong>In-Person Hours:</strong> 12 PM - 7 PM, Monday - Thursday</p>
            <p><strong>Online Hours:</strong> 12 PM - 5 PM, Monday - Thursday</p>
            <a href="http://go.ischool.illinois.edu/AcademicCenterQueue" target="_blank" rel="noopener noreferrer">Queue</a>
            <a href="http://ischool.illinois.edu/student-life/academic-support-center" target="_blank" rel="noopener noreferrer">More Information</a>
            <a href="mailto:ischool-tutoring@illinois.edu">Email Staff</a>
        </div>

        <div style="margin-top: 125px">
            <h1>iSchool Tutoring</h1>
        </div>
    </header>
    
    <main style="margin-left: 25px; margin-right: 25px">
        <p><strong>Note</strong>: Click on the name of a course/skill to view a list of resources for it.</p>
        
        <br>
        
        <div id="schedule-settings">
            <ul>
                <li><a href="#courses" onclick="switchSchedule('courses')">Schedule by Course</a></li>
                <li><a href="#skills" onclick="switchSchedule('skills')">Schedule by Skill</a></li>
                <li><a href="#tutors" onclick="switchSchedule('tutors')">Schedule by Tutor</a></li>
            </ul>
        </div>

        <table id="course-schedule">
            <tr>
                <th>Course</th>
                <th style="display: none;">Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th style="display: none;">Friday</th>
                <th style="display: none;">Saturday</th>
            </tr>
        </table>

        <table id="skill-schedule" style="display: none;">
            <tr>
                <th>Skill</th>
                <th style="display: none;">Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th style="display: none;">Friday</th>
                <th style="display: none;">Saturday</th>
            </tr>
        </table>

        <table id="tutor-schedule" style="display: none;">
            <tr>
                <th>Tutor</th>
                <th>Courses</th>
                <th>Skills</th>
                <th style="display: none;">Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th style="display: none;">Friday</th>
                <th style="display: none;">Saturday</th>
            </tr>
        </table>

        <div id="resources-container" style="display: none;">
            <h3 id="resources-title"></h3>
            <ul id="resources-list"></ul>
        </div>
    </main>

    <br>
    
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>